@page "/rental/selectRental"

@*@using Microsoft.AspNetCore.Authorization*@
@using AppForSEII2526.Web.API
@inject AppForSEII2526APIClient apiclient
@inject ILogger<SelectDevicesForRental> logger
@inject RentalStateContainer rentalState
@inject NavigationManager navigation

@*@attribute [Authorize]*@
<h3>Select Devices For Rental</h3>
<div class="container-fluid">
    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorShown">Errors: @errors</p>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col">  @*Filtro de Modelo*@
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Model</span>
                        @*<input type="text" id="inputModel" @bind="deviceModel" class="form-control" placeholder="Model" aria-label="Model" aria-describedby="basic-addon1">*@
                        <select class="form-select" aria-label="Default select" @bind="deviceModelSelected" id="selectModel">
                            <option value="All" selected>All</option>
                            @foreach (string modelName in modelsNames)
                            {
                                <option value="@modelName" id="modelNameSelected_@modelName">@modelName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col">  @*Filtro de Precio*@
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">RentPrice</span>
                        <input type="number" id="inputRentPrice" @bind="devicePriceForRent" class="form-control" placeholder="RentPrice" aria-label="RentPrice" aria-describedby="basic-addon1">
                    </div>
                </div>
                @*
                <div class="col">                     @*Filtro de Fecha From
                    <div class="input-group mb-3">
                        <span class="input-group-text">From</span>
                        <InputDate @bind-Value="@From" id="fromDate" />
                    </div>
                </div>

                <div class="col">                     @*Filtro de Fecha To
                    <span class="input-group-text">To</span>
                    <InputDate id="toDate" @bind-Value="@To" />


                </div>
                *@
                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick="@SearchDevices" id="searchDevices">Search devices</button>
                </div>

            </div>
            <div class="row">
                @if (devices == null)
                {
                    <p>No devices available.</p>
                }
                else if (devices.Count == 0)
                {
                    <p>No devices found with the selected filters.</p>
                }
                else
                {
                    <div class="mh-100 table-responsive">
                        <table class="table table-condensed table-hover" id="TableOfDevices">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Model</th>
                                    <th>Brand</th>
                                    <th>Año</th>
                                    <th>Color</th>
                                    <th>Price For Renting</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var device in devices)
                                {
                                    <tr id="deviceData_@device.Brand">
                                        <td>@device.Name</td>
                                        <td>@device.Model</td>
                                        <td>@device.Brand</td>
                                        <td>@device.Year</td>
                                        <td>@device.Color</td>
                                        <td>@device.PriceForRent €</td>
                                        <td>
                                            <button class="btn btn-outline-secondary" id="deviceToRent_@device.Brand" @onclick="@(() => AddDevice(device))">Add</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>

                    }
                </div>
            </div>
            <div class="col-2" hidden="@hideRentingCart">
                <div class="row">
                    <h3>Shopping Cart</h3>
                </div>
                @foreach (RentalItemDTO item in rental.RentalItems)
                {
                    <div class="row">
                    <button type="button" class="btn btn-light" id="removeDevice_@item.Brand" @onclick="@(() => RemoveDeviceFromRental(item))">x @item.Brand - @item.PriceForRent€</button>
                    </div>
                }
                <div class="row">
                    <button type="button" class="btn btn-primary" id="rentDeviceButton" @onclick="@RentDevices">Rent devices</button>
                </div>
            </div>
        </div>
    </div>

@code {

    private string deviceModelSelected { get; set; }
    private ICollection<string> modelsNames = new List<string>();

    private bool hideRentingCart { get { return rental.RentalItems.Count == 0; } }
    private ICollection<DeviceForRentalDTO>? devices;
    private bool hideErrors { get { return errors.Length == 0; } }
    private string errors = "";
    private double? devicePriceForRent { get; set; }
    private string deviceModel { get; set; }

    private RentalForCreateDTO rental => rentalState.Rental;

    private bool hiddenRentingCart = true;

    private void AddDevice(DeviceForRentalDTO device)
    {
        rentalState.AddDeviceToRental(device);
    }

    private void RemoveDeviceFromRental(RentalItemDTO item)
    {
        rentalState.RemoveDeviceFromRental(item);
        if (rental.RentalItems.Count == 0) hiddenRentingCart = true;
    }

    public async Task SearchDevices() 
    {
        deviceModel = deviceModelSelected == "All" ? null : deviceModelSelected;
        try
        {
            devices = await apiclient.GetDevicesForRentalAsync(deviceModel, devicePriceForRent);
            errors = "";
        }
        catch (ApiException ex)
        {
            logger.LogError($"{DateTime.Now} Error: {ex}");
            errors = "Error while connecting to the system";
        }
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync() 
    {
        try
        {
            modelsNames = await apiclient.GetModelsForRentalAsync(null);
        }
        catch (ApiException ex)
        {
            if (modelsNames == null) modelsNames = new List<string>() { "All", };
            logger.LogError($"{DateTime.Now} Error! Hubo un error mientras se conectaba con el servicio GetModelsAsync");
        }
        
        SearchDevices();
    }

    private void RentDevices()
    {
        navigation.NavigateTo("/rentals/createrental");
    }
}