
@using AppForSEII2526.Web.API
@inject AppForSEII2526APIClient aPIClient
@inject ILogger<SelectDevicesForPurchase> logger
@inject PurchaseStateContainer purchaseState
@inject NavigationManager navigation



@page "/purchase/selectdevicesforpurchase"
<h3>Select Devices For Purchase</h3>
<div class="container-fluid">
    <div class="row"hidden="@hideErrors">
        <p>here i will show the errors</p>
    </div>
    <div class="row">
        <div class=" col-8">
            <div class="row">
                
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Brand</span>
                        <input type="text" id="inputBrand" @bind=nameBrand class="form-control" placeholder="Brand" aria-label="Brand" aria-describedby="basic-addon1">
                    </div>
                </div>
                
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Colour</span>
                        <input type="text" id="inputColour" @bind=colour class="form-control" placeholder="Colour" aria-label="Colour" aria-describedby="basic-addon1"></input>
                    </div>
                </div>

                
            


                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=@SearchDevices id="searchDevices">Search devices</button>
                </div>
            </div>
            <div class=" row">
                
                @if(devices == null)
                {
                    <p>Loading devices...</p>
                }
                else
                {
                    <p>number of devices @devices.Count</p>
                    <div class="mh-100 table-responsive">
                        <table class="table table-condensed table-hover" id="TableOfMovies">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Brand</th>
                                    <th>Model</th>
                                    <th>Colour</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Description (optional)</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var device in devices)
                                {
                                    <tr id="DeviceData _@device.Name">
                                        <td>@device.Name</td>
                                        <td>@device.Brand</td>
                                        <td>@device.NameModel</td>
                                        <td>@device.Colour</td>
                                        <td>@device.Price</td>

                                        

                                        <td>
                                            <button class="btn-outline-secondary" id="deviceToPurchase_@device" @onclick="@(()=> AddDevice(device))">Add</button> @*aqui falta la cantidad y descripcion*@
                                        </td>@*chatgpt sugiere diccionario, preguntar en clase*@
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
        <div class="col-2">
            
            <div class="col-2" hidden="@hidePurchasingCart">
                <div class="row">
                    <h3>Shopping Cart</h3>
                </div>
                @foreach(PurchaseItemDTO item in purchase.PurchaseItems)
                {
                    <div class="row">
                        <button type="button" class="btn btn-light" id="removeDevice_@item.NameModel" @onclick="@(()=> RemovePurchaseDevice(item))">x @item.NameModel - @item.Price></button>
                    </div>
                }
                <div class="row">
                    <button type="button" class="btn btn-primary" id="purchaseDeviceButton" @onclick="@PurchaseDevice">Purchase Devices</button>
                </div>

            </div>
        </div>
    </div>

</div>

@code {
    private bool hidePurchasingCart
    {
        get
        {
            return purchase.PurchaseItems.Count == 0;
        }
    }
    private ICollection<DeviceForPurchaseDTO> devices;
    private bool hideErrors{get{ return errors.Length == 0; }}
    private string errors = "";
    private string colour { get; set; }
    private string nameBrand { get; set; }


    public async Task SearchDevices()
    {
        try
        {
            devices = await aPIClient.GetDevicesForPurchaseAsync(nameBrand, colour); //no se porque da error
        }
        catch (ApiException ex) //da error porque no tengo la directiva using del api
        {
            logger.LogError("Error while searching devices for purchase: {Message}", ex.Message);
            errors = "An error occurred while searching for devices. Please try again later.";
        }
        StateHasChanged();
    }

    protected override Task OnInitializedAsync()
    {
        SearchDevices();
        return base.OnInitializedAsync();
    }

    private PurchaseForCreateDTO purchase => purchaseState.Purchase;
   // private int Quantity { get; set; } = purchaseState. //dudas como meto la cantidad
    //private string Description { get; set; } = //dudas como pongo description

    private bool hiddenPurchasingDevice = true;


    private void AddDevice(DeviceForPurchaseDTO device)
    {
        purchaseState.AddDeviceToPurchase(device); //no se porque da error
    }

    private void RemovePurchaseDevice(PurchaseItemDTO device)
    {
        purchaseState.RemovePurchaseItemToPurchase(device); //no se porque da error
    }

    private void PurchaseDevice()
    {
        navigation.NavigateTo("/purchase/createpurchase");
    }






}
